* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #030364;
  width: 100vw;
  height: 50px;
  color: white;
}

.navBar .navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  width: 80%;
}

.navBar .navContainer .logo {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: auto 0;
}

.navBar .navContainer .navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navBar .navContainer .navItems .navButton {
  background: #ddd8d8;
  color: black;
  font-size: 1.1rem;
  margin-left: 20px;
  padding: 3px 10px;
  font-weight: 400;
  border-radius: .3rem;
  border: none;
}

.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  background: #030364;
  color: white;
  position: relative;
}

.Header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.Header .headerContainer .headerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 20px 0;
}

.Header .headerContainer .headerlist .headerListItem {
  margin-right: 30px;
  padding: 10px 20px;
}

.Header .headerContainer .headerlist .headerListItem span {
  margin-left: 5px;
}

.Header .headerContainer .headerlist .active {
  border: 1px solid white;
  border-radius: 1.5rem;
}

.Header .headerContainer .headerTitle {
  margin-bottom: 20px;
}

.Header .headerContainer .headerDesc {
  margin-bottom: 20px;
}

.Header .headerContainer .headerBtn {
  background: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  width: 150px;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.Header .headerContainer .headerSearch {
  height: 30 px;
  background-color: white;
  border: 3px solid #febb02;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  border-radius: 5px;
  position: absolute;
  bottom: -55px;
  right: 10%;
  width: 80%;
}

.Header .headerContainer .headerSearch .headerSearchItem {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.Header .headerContainer .headerSearch .headerSearchItem .headerBtn {
  margin: auto;
}

.Header .headerContainer .headerSearch .headerSearchItem .headerSearchInput {
  border: none;
  outline: none;
}

.Header .headerContainer .headerSearch .headerSearchItem .headerSerachText {
  color: lightgrey;
  cursor: pointer;
}

.Header .headerContainer .headerSearch .headerSearchItem .headerIcon {
  color: lightgray;
}

.Header .headerContainer .headerSearch .headerSearchItem .date {
  position: absolute;
  top: 50px;
}

.Header .headerContainer .headerSearch .headerSearchItem .options {
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  outline: none;
}

.Header .headerContainer .headerSearch .headerSearchItem .options .optionItem {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

.Header .headerContainer .headerSearch .headerSearchItem .options .optionItem .optionCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.Header .headerContainer .headerSearch .headerSearchItem .options .optionItem .optionCounter .optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.Header .headerContainer .headerSearch .headerSearchItem .options .optionItem .optionCounter .optionCounterButton:disabled {
  cursor: not-allowed;
}

.homecontainer {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 100vw;
  text-align: left;
}

.homecontainer .homeTitle {
  font-size: 1.5rem;
  padding: 0 0 0 10%;
}

.homecontainer .featured {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.homecontainer .featured .featuredItem {
  height: 400px;
  background: red;
  border-radius: 10px;
}

.homecontainer .featured .featuredItem:nth-child(1) {
  background-image: url("https://www.levarti.com.br/blog/wp-content/uploads/2020/10/LevDSC_4003.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homecontainer .featured .featuredItem:nth-child(2) {
  background-image: url("https://www.penaestrada.blog.br/wp-content/uploads/2016/03/onde-ficar-em-fortaleza-67.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.homecontainer .featured .featuredItem:nth-child(3) {
  background-image: url("https://www.melhoresdestinos.com.br/wp-content/uploads/2016/08/o-que-fazer-em-sao-paulo-capa2019-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homecontainer .featured .featuredItem:nth-child(4) {
  background-image: url("https://www.flytap.com/-/media/Flytap/new-tap-pages/destinations/south-america/brazil/recife/recife-banner-mobile-1024x553.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homecontainer .featured .featuredItem:nth-child(5) {
  background-image: url("https://a.cdn-hotels.com/gdcs/production187/d1216/5791a1f0-c31d-11e8-9739-0242ac110006.jpg?impolicy=fcrop&w=800&h=533&q=medium");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.homecontainer .featured .featuredItem .featuredTitles {
  color: white;
  padding: 20px;
  text-shadow: 1px 1px 8px black;
}

.homecontainer .featured .featuredItem .featuredTitles h1 {
  font-size: 1.6rem;
}

.homecontainer .featured .featuredItem .featuredTitles h2 {
  font-size: 1.3rem;
}

.homecontainer .pList {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
  margin: 0 auto;
  padding-left: 1000px;
}

.homecontainer .pList::-webkit-scrollbar {
  width: 10px;
}

.homecontainer .pList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px grey;
          box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

.homecontainer .pList::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

.homecontainer .pList .pListItem {
  width: 150px;
  margin-left: 10px;
}

.homecontainer .pList .pListItem .pListImg {
  width: 150px;
  height: 150px;
  -o-object-fit: initial;
     object-fit: initial;
  border-radius: 5px;
}

.homecontainer .pList .pListItem .pListTitles {
  margin-top: 20px;
}

.homecontainer .pList .pListItem .pListTitles h1 {
  font-size: 1rem;
}

.homecontainer .pList .pListItem .pListTitles p {
  margin-top: 5px;
  font-size: .8rem;
}

.homecontainer .lovedList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homecontainer .lovedList .lovedListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 23%;
}

.homecontainer .lovedList .lovedListItem .lovedListItemImg {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.homecontainer .lovedList .lovedListItem .lovedListItem-name {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px 0;
}

.homecontainer .lovedList .lovedListItem .lovedListItem-city {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.homecontainer .lovedList .lovedListItem .lovedListItem-price {
  font-size: 1rem;
  margin-bottom: 10px;
}

.homecontainer .lovedList .lovedListItem .lovedListItem-rating button {
  background-color: blue;
  color: white;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-right: 10px;
}

.listContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.listContainer .listWrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.listContainer .listWrapper .listSearch {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 440px;
  background-color: #febb02;
  padding: 15px;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.listContainer .listWrapper .listSearch .listTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.listContainer .listWrapper .listSearch .listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.listContainer .listWrapper .listSearch .listItem label {
  font-size: 12px;
}

.listContainer .listWrapper .listSearch .listItem input {
  height: 30px;
  border: none;
  padding: 5px;
}

.listContainer .listWrapper .listSearch .listItem .listItemtextSpan {
  height: 30px;
  padding: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.listContainer .listWrapper .listSearch .listItem .listItemOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listContainer .listWrapper .listSearch .listItem .listItemOptions .listOptionsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.listContainer .listWrapper .listSearch .listItem .listItemOptions .listOptionsItem span {
  font-size: .9rem;
}

.listContainer .listWrapper .listSearch .listItem .listItemOptions .listOptionsItem input {
  width: 50px;
}

.listContainer .listWrapper .listSearch .listItem .listItemOptions .listOptionsBtn {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.listContainer .listWrapper .listResult {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.listContainer .listWrapper .listResult .searchItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid black;
  padding: 20px;
}

.listContainer .listWrapper .listResult .searchItem img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.listContainer .listWrapper .listResult .searchItem .searItemDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin-right: 10px;
}

.listContainer .listWrapper .listResult .searchItem .searItemDescription h1 {
  font-size: 1.5rem;
}

.listContainer .listWrapper .listResult .searchItem .searItemDescription span {
  font-size: 1.2rem;
  margin: 10px 0;
}

.listContainer .listWrapper .listResult .searchItem .searchItemDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  width: 15%;
}

.listContainer .listWrapper .listResult .searchItem .searchItemDetails .searchItemDetailsAvaliation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0 110px;
}

.listContainer .listWrapper .listResult .searchItem .searchItemDetails .searchItemDetailsAvaliation .av {
  margin-right: 20px;
}

.listContainer .listWrapper .listResult .searchItem .searchItemDetails .searchItemDetailsAvaliation .av p {
  margin-bottom: 5px;
}

.listContainer .listWrapper .listResult .searchItem .searchItemDetails .searchItemDetailsAvaliation .rate {
  padding: 0 5px;
  background: blue;
  color: white;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.listContainer .listWrapper .listResult .searchItem .searchItemDetails button {
  padding: 10px 0;
  background-color: #0071c2;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.listContainer .listWrapper .listResult .searchItem .searchItemDetails button:hover {
  background-color: #04416d;
}

.hotelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

.hotelContainer .hotelWrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 10px;
  margin: 0 auto;
}

.hotelContainer .hotelWrapper .bookNow {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.hotelContainer .hotelWrapper .hotelTitle {
  font-size: 24px;
}

.hotelContainer .hotelWrapper .hotelAddress {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.hotelContainer .hotelWrapper .hotelDistance {
  color: #0071c2;
  font-weight: 500;
}

.hotelContainer .hotelWrapper .hotelImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotelContainer .hotelWrapper .hotelImages .hotelImgWrapper {
  width: 33%;
}

.hotelContainer .hotelWrapper .hotelImages .hotelImgWrapper .hotelImg {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hotelContainer .hotelWrapper .hotelDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.hotelContainer .hotelWrapper .hotelDetails .hotelDetailsText {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.hotelContainer .hotelWrapper .hotelDetails .hotelDetailsText .hotelDesc {
  font-size: 14px;
  margin-top: 20px;
}

.hotelContainer .hotelWrapper .hotelDetails .hotelDetailsPrice {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.hotelContainer .hotelWrapper .hotelDetails .hotelDetailsPrice h1 {
  font-size: 18px;
  color: #555;
}

.hotelContainer .hotelWrapper .hotelDetails .hotelDetailsPrice span {
  font-size: 14px;
}

.hotelContainer .hotelWrapper .hotelDetails .hotelDetailsPrice h2 {
  font-weight: 300;
}

.hotelContainer .hotelWrapper .hotelDetails .hotelDetailsPrice button {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.mail {
  width: 100%;
  margin-top: 50px;
  background-color: #003580;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 50px;
}

.mail .mailInputContainer input {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mail .mailInputContainer button {
  height: 50px;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 5px;
}

.footer {
  width: 80%;
  margin: 30px auto 0;
}

.footer .fList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .fList .fListUl {
  list-style: none;
}

.footer .fList .fListUl .fListItem {
  color: #0071c2;
  cursor: pointer;
  margin-bottom: 8px;
}

.footer .fList .fListUl .fListItem:hover {
  color: #003580;
}
/*# sourceMappingURL=main.css.map */